.container {
  background-image: url("https://i.pinimg.com/originals/f8/68/4d/f8684daff3da3b0ae8d5d47904b210b3.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  height: 98vh;
}
