.container {
  height: 92vh;

  background-image: url("../../../assets/game-background.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  border: rgb(90, 89, 89) 3px solid;
  border-radius: 10px;

  margin: 32px;
}

.player-cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;

  .card-image {
    margin-bottom: 50px;
  }
}

.rival-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  .card-image {
    margin-top: 50px;
  }
}

.card-image {
  height: 150px;
  border-radius: 10px;
}
