.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  flex-direction: column;

  h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .invite-code {
    border: solid 1px black;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 32px;
    width: 60%;
    text-align: center;

    &:hover {
      background: rgb(110, 110, 110);
      color: white;
    }
  }

  .start-button {
    margin-bottom: 32px;
    background: transparent;
    border: solid 1px black;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 32px;
    width: 63%;
    text-align: center;

    &:hover {
      background: rgb(110, 110, 110);
      color: white;
    }
  }

  .player {
    margin: 8px;
    font-size: 20px;
    border: none;
  }

  .versus {
    border-bottom: 1px solid black;
    padding: 10px;
    padding-top: 0;
    width: 30%;
    text-align: center;
    font-size: 17px;
    margin: 16px 0;
  }
}
