.loginSignup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h3,
h2,
h1 {
  text-align: center;
  margin: 20px;
}

.info {
  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 20px;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    height: 500px;
    width: auto;

    animation: float 4s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}
